
/* content */
.CreateAnnouncementModal__container{
    background-color: #0174CF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    width: 850px;
}


/* header */
.CreateAnnouncementModal__header{
    color: #fff;
    margin: 15px 0 10px;
    margin-left: 50px;
    font-weight: 600;
    
}


.CreateAnnouncementModal__description{
    font-size: 12px;

}
  
/* form */
.CreateAnnouncementModal__form-container {
    background-color: #fff;
    padding: 10px 50px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.CreateAnnouncementModal__form-group {
    margin-bottom: 20px;
}

.CreateAnnouncementModal__title{
    width: 50%;
    margin-bottom: 10px;
}

.CreateAnnouncementModal__summary-group{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}


/* button */
.CreateAnnouncementModal__form-actions {
    display: flex;
    justify-content: flex-end;
   margin: 20px 0px 0;
}  
