
/* forgot password email content */
.ForgotPassword__container{
    background-color: #fff;
    border: 4px solid rgba(124, 227, 252,40%);
    border-radius: 15px;
    padding: 40px 70px 60px;
    width: 30em;
    text-align: center;
    position: relative;
}


.ForgotPassword__form{
    position: relative;
    margin: 50px 30px 0;
}

.ForgotPassword__btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ForgotPassword__submit{
    width: 165px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    font-family: "poppins";
    border-radius: 7px;
    border:none;
    color: #fff;
    cursor: pointer;
    background-color: #05a1e4;
    margin-top: 40px;
}

.ForgotPassword__submit:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
    opacity: 0.6; 
}

.ForgotPassword__back{
    width: 160px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    font-family: "poppins";
    border-radius: 7px;
    border:none;
    color: #6e6e6e;
    cursor: pointer;
    background-color: #ffffff;
    /* margin-top: 120px; */
    display: none;
}


.ForgotPassword__submit:active{
    opacity: 0.8;
}
  
.ForgotPassword__error{
    position: absolute;
    top: -22%;
    right: 1%;
    font-size: 12px;
    font-weight: 500;
    color: #e40c05;
}


.ForgotPassword__back-btn{
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    left: 5%;
    color: #636363;
    position: absolute;
    transition: transform 0.3s ease;
}

.ForgotPassword__back-btn:hover{
    transform: scale(1.07); 
}




/* OTP CONTENT */

.ForgotPassword__minute-send{
    font-size: 15px;
    padding: 0 30px;
    margin-bottom: 0;
}


.ForgotPassword__form-otp{
    position: relative;
    margin: 30px 30px 0;
}

.ForgotPassword__resend-time{
    color: #0174CF;
    font-weight: 600;
    display: block;
}

.ForgotPassword__resend-btn{
    font-size: 13px;
    padding: 3px 10px;
    font-weight: 500;
    font-family: "poppins";
    border-radius: 5px;
    border: 2px solid #05a1e4;
    color: #05a1e4;
    cursor: pointer;
    background-color: #fff;
}


/* New password content */
.ForgotPassword__new-container{
    background-color: #fff;
    border: 4px solid rgba(124, 227, 252,40%);
    border-radius: 15px;
    padding: 40px 70px 60px;
    width: 30em;
    text-align: center;
    position: relative;
}

.ForgotPassword__password-instruction{
    background-color: #f1f1f1;
    text-align: left;
    padding: 20px 20px 10px;
    border-radius: 5px;
    margin: 0;
}

.ForgotPassword__password-instruction p{
    font-size: 11px;
    font-weight: bold;
    color: #565252;
    margin: 0;
}

.ForgotPassword__password-instruction ul{
    margin: 0;
    margin-bottom: 10px;
    padding:6px 0px;
    list-style: none;
}


.ForgotPassword__password-instruction li{
    font-size: 9px;
    font-weight: 500;
    color: #565252;
    margin: 0;
}


.ForgotPassword__password-error{
    position: absolute;
    top: 13%;
    right: 1%;
    font-size: 12px;
    font-weight: 500;
    color: #e40c05;
}

.ForgotPassword__new-submit{
    width: 200px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    font-family: "poppins";
    border-radius: 7px;
    border:none;
    color: #fff;
    cursor: pointer;
    background-color: #05a1e4;
    margin-top: 40px;
}

.ForgotPassword__new-back{
    width: 160px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    font-family: "poppins";
    border-radius: 7px;
    border:none;
    color: #6e6e6e;
    cursor: pointer;
    background-color: #ffffff;
    display: none;
}

@media only screen and (max-width: 767px)  {

    /* forgot password email content */
    .ForgotPassword__container{
        background-color: #fff;
        border: 0px solid rgba(124, 227, 252,40%);
        border-radius: 0px;
        padding: 110px 10px 20px;
        width: 100%;
    }

    .ForgotPassword__container h2{
        font-size: 20px;
    }

    
    .ForgotPassword__container p{
        font-size: 13px;
        padding: 0 30px;

    }

    .ForgotPassword__back-btn{
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        left: 5%;
        color: #636363;
        position: absolute;
        transition: transform 0.3s ease;
        display: none;
    }

    
    .ForgotPassword__form{
        position: relative;
        margin: 50px 30px 0;
    }


    .ForgotPassword__submit{
        width: 155px;
        height: 45px;
        font-size: 15px;
        border-radius: 8px;
        margin-top: 40px;
    }



    .ForgotPassword__back{
        display: block;
        margin-top: 80px;
    }


    .ForgotPassword__error{
        position: absolute;
        top: 12%;
        right: -10%;
        font-size: 10px;
        font-weight: 600;
        color: #e40c05;
    }


    /* OTP CONTENT */
    .ForgotPassword__minute-send{
        font-size: 13px;
        padding: 0 50px;
    }

    .ForgotPassword__resend-time{
        color: #0174CF;
        font-weight: 600;
        display: block;
        margin-top: 5px;
    }
    
    .ForgotPassword__resend-btn{
        font-size: 13px;
        padding: 3px 10px;
        font-weight: 500;
        font-family: "poppins";
        border-radius: 5px;
        border: 2px solid #05a1e4;
        color: #05a1e4;
        cursor: pointer;
        background-color: #fff;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }


    .ForgotPassword__new-container{
        background-color: #fff;
        border: 0px solid rgba(124, 227, 252,40%);
        border-radius: 0px;
        padding: 70px 10px 20px;
        width: 100%;
    }

    
    .ForgotPassword__new-container h2{
        font-size: 20px;
    }


    .ForgotPassword__password-instruction{
        background-color: #f1f1f1;
        text-align: left;
        padding: 15px 15px 10px;
        border-radius: 5px;
        margin: 0;
    }
    
    .ForgotPassword__password-instruction p{
        font-size: 9px;
        font-weight: bold;
        color: #565252;
        margin: 0;
    }
    
    .ForgotPassword__password-instruction ul{
        margin: 0;
        margin-bottom: 5px;
        padding:6px 0px;
        list-style: none;
    }
    
    
    .ForgotPassword__password-instruction li{
        font-size: 9px;
        font-weight: 500;
        color: #565252;
        margin: 0;
    }
    
    .ForgotPassword__new-submit{
        width: 200px;
        height: 45px;
        font-size: 15px;
        border-radius: 8px;
        margin-top: 40px;
    }

    .ForgotPassword__new-back{
        display: block;
        margin-top: 60px;
    }

    .ForgotPassword__password-error{
        position: absolute;
        top: 23%;
        right: 1%;
        font-size: 10px;
        font-weight: 600;
        color: #e40c05;
    }
}