@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: "Poppins", sans-serif;
}

.CustomerSignIn__wrapper {
  background-color: #08A8EB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

.CustomerSignIn__container{
  background-color: #05a1e4;
  border: 4px solid rgba(124, 227, 252,40%);
  width: 534px;
  height: 584px;
  border-radius: 129px 20px 129px 20px;
  margin: 40px 0;
}

.loginlogo{
  width: 170px;
  margin-left: 170px;
}


/* --- */

.CustomerSignIn__header {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.CustomerSignIn__white-box {
  background-color: white;
  padding-bottom: 30px;
  box-shadow: 0 -4px -8px rgba(0, 0, 0, 0.2);
  border-radius: 129px 0 127px 18px;
}

.CustomerSignIn__form {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin: 0 80px;
  font-family: "Poppins", sans-serif;
}

 
.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  padding: 15px 15px 15px 25px;
  border: 0.5px solid #285AFF;
  font-family: "Poppins", sans-serif;
}

.input-field label {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  font-size: 16px;
  transition: 0.3s;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
  top: 2px;
  font-size: 13px;
  color: #6a6a6a;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 5px;
  padding: 2px 5px;
}


.toggle-password {
  position: absolute;
  font-size: 18px;
  top: 55%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
/* --- */

.CustomerSignIn__form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:49px;
  color: #565252;
}
.CustomerSignIn__form-footer label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CustomerSignIn__form-footer input[type="checkbox"] {
  width: 15px; 
  height: 15px;  
  cursor: pointer;
  margin-right: 10px;
}



/* forgot */
.CustomerSignIn__forgot{
  color:  #565252;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out; 
}

.CustomerSignIn__forgot:hover {
  text-decoration: underline;
}
/* --- */

.CustomerSignIn__btn {

  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'poppins';
  background-color: #08A8EB;
  border-radius: 8px;
  color: white;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
  transition: background-color 1s;
}

.CustomerSignIn__btn :hover {
  background-color: #0056b3;
}

.CustomerSignIn__btn :active{
  opacity:0.5;
 }

.CustomerSignIn__sign-up {
  text-align: center;
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 34px;
  font-weight: 500;
  color:  #565252;
}

.CustomerSignIn__sign-up a {
  color:  #565252;
  font-weight: bold;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out; 
}

.CustomerSignIn__sign-up a:hover {
  text-decoration: underline;
}

.CustomerSignIn__error-message{
  position: absolute;
  right: 0;
  top: -18px;
  font-size: 12px;
  font-weight: 600;
  color: red;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 767px)  {
   
  .CustomerSignIn__wrapper {
    width: 100%;
    height: 100%;
  }
  
    
  .CustomerSignIn__container{
    background-color: #05a1e4;
    border:none;
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  
.CustomerSignIn__header {
  font-size: 27px;
  margin: 30px 0;
}

  
.CustomerSignIn__white-box {
  border-radius:  50px 0 0;
  margin-top: 20px;
}

.CustomerSignIn__form {
  padding-top: 70px;
  margin: 0 30px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  padding: 15px 15px 15px 25px;
  font-size: 13px;
}

.input-field label {
  font-size: 14px;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
  top: 2px;
  font-size: 12px;
  padding: 2px 0;
}

.toggle-password {
  font-size: 17px;
  right: 15px;
}

/* --- */

.CustomerSignIn__form-footer {
  font-size: 11px;
  margin-top: 5px;
}


.CustomerSignIn__form-footer input[type="checkbox"] {
  width: 15px; 
  height: 15px;  
  cursor: pointer;
  margin-right: 5px;
}


.CustomerSignIn__btn{
  padding: 10px;
  font-size: 17px;
  margin-top: 30px;
  font-weight: 600;
}



.CustomerSignIn__sign-up{
  font-size: 13px;
  margin-top: 45px;
}

.CustomerSignIn__error-message{
  font-size: 10px;
  top: -15px;
}

}