

/* text field  */
.TextField__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.TextField__label{
    font-weight: bold;
    font-size: 13px;
    color: #504F4F;
    margin-bottom: 4px;
    
}

.TextField__required-field {
    font-size: 12px;
    vertical-align: super;
    color: red; 
}

.TextField__input{
    height: 32px;
    width: 100%;
    max-width: 100%; 
    color: #434141;
    border: 1.5px solid #ADAFB0;
    border-radius: 5px;
    margin-bottom: 3px;
    font-weight: 600;
    padding-left: 10px;
    font-family: "poppins";
    box-sizing: border-box;
    outline: none; 
}

.TextField__textarea {
    color: #434141;
    padding: 15px 20px;
    resize: none;
    font-family: "poppins";
    text-indent: 15px;
    border: 1.5px solid #ADAFB0;
    border-radius: 5px;
    font-weight: 500;
    outline: none; 
    white-space: pre-wrap;
}
.TextField__textarea::placeholder {
    font-style: italic; 
    color: #bbbbbb; 
}

/* Scrollbar customization */
.TextField__textarea::-webkit-scrollbar {
    width: 5px;
}

.TextField__textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.TextField__textarea::-webkit-scrollbar-thumb {
    background: #bdbcbc;
    border-radius: 10px;
}

.TextField__textarea::-webkit-scrollbar-thumb:hover {
    background: #a7a6a6;
    cursor: pointer;
}


.TextField__input[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #929090;
    cursor: not-allowed;
}







/* inline */
.TextField__inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px; 
}

.TextField__inline .TextField__label{
    white-space: nowrap;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #0F8CFF;
    flex: 0.6;
    text-align: end;
}

.TextField__inline .TextField__input {
  flex: 1;
  padding: 18px 10px;
  font-size: 15px;
  font-weight: 500;
  border: 1.5px solid #8A8A8A;
}


.TextField__inline .TextField__input[readonly] {
    background-color: #f9f9f9;
    border: 1px solid #e8e7e7;
    color: #b6b2b2;
    cursor: not-allowed;
}


@media only screen and (max-width: 767px) {

    .TextField__label{
        font-size: 10px; 
    }

    .TextField__input{
        height: 28px;
        padding: 8px 13px;
        font-size: 11px;
    }

    .TextField__textarea {
        padding: 10px ;
        font-size: 11px;
    }
    
    .TextField__inline .TextField__label{
        margin-right: 10px;
        font-size: 10px;
        flex: 0.7;
    }

    .TextField__inline .TextField__input {
        padding: 10px 10px;
        font-size: 10px;
    }
      
}
