
/* account content */

.AccountSettingsAdmin__container{
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin:0 200px 20px 150px;
  border-radius: 5px;
  padding: 10px 0px;
  position: relative;
}

.AccountSettingsAdmin__header-text{
  font-size: 30px;
  margin-bottom: 70px;
  padding-left: 45px;
  color: #007bff;
}

.AccountSettingsAdmin__profile-text{
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: 64%;
  left:6%;
  padding-bottom: 15px;
  color: #007bff;
  border-bottom: 4px solid #007bff;
}

.AccountSettingsAdmin__password-text{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 64%;
  left:18%;
  padding-bottom: 15px;
  color: #626262;
}





/* edit details */
.AccountSettingsAdmin__setting-container{
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin:0 200px 0px 150px;
  border-radius: 5px;
  padding: 40px;
}


.AccountSettingsAdmin__profile-container{
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: 2px solid rgba(160, 160, 160,0.3);
}

.AccountSettingsAdmin__profile-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid rgb(197, 194, 194);
  border-radius: 50%;
}

.AccountSettingsAdmin__profile-info{
  margin-left: 20px;
}

.AccountSettingsAdmin__name{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.AccountSettingsAdmin__username{
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #555252;
}


.AccountSettingsAdmin__edit-button{
  position: absolute;
  right: 3%;
  top: 40%;
  padding: 5px 15px;
  border-radius: 30px;
  border: 2px solid  rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  color: #454343;
  font-weight: 600;
  font-size: 14px;
  font-family: "poppins";
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s;
}

.AccountSettingsAdmin__button-icon{
  width: 20px;
  margin-left: 5px;
}

.AccountSettingsAdmin__edit-button:hover{
  background-color: #f5f5f5;
}

.AccountSettingsAdmin__edit-button:active{
  opacity: 0.5;
}





@media only screen and (max-width: 767px) {

    
  /* account content */
  .AccountSettingsAdmin__container{
      margin:0 0 10px;
      padding: 10px 0px;
  }


  .AccountSettingsAdmin__header-text{
      font-size: 20px;
      margin-bottom: 37px;
      padding-left: 20px;
  }

  .AccountSettingsAdmin__profile-text{
      font-size: 11px;
      top: 60%;
      left:6%;
      padding-bottom: 10px;
  }
    
  .AccountSettingsAdmin__password-text{
      font-size: 11px;
      top: 60%;
      left:30%;
      padding-bottom: 10px;
  }
    

  /* edit details */
  .AccountSettingsAdmin__setting-container{
      margin: 0;
      padding: 15px;
  }

  
  .AccountSettingsAdmin__profile-container{
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 10px;
  }
      
  
  
  .AccountSettingsAdmin__profile-image{
      width: 40px;
      height: 40px;
  }
      
  .AccountSettingsAdmin__profile-info{
      margin: 0 60px 0 10px;
  }
      
      
  .AccountSettingsAdmin__name{
      font-size: 12px;
  }
  
  .AccountSettingsAdmin__username{
      font-size: 9px;
  }
  
      
  .AccountSettingsAdmin__edit-button{
      right: 3%;
      top: 30%;
      padding: 5px 15px;
      font-size: 10px;
  }
  
  .AccountSettingsAdmin__button-icon{
      width: 15px;    
      margin-left: 5px;
  }
  

}





