
  /* change password content */

  .AccountSettingsAdmin__profile-text-change{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    top: 64%;
    left:6%;
    padding-bottom: 15px;
    color: #626262;
  }

  .AccountSettingsAdmin__password-text-change{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 64%;
    left:18%;
    padding-bottom: 15px;
    color: #007bff;
    border-bottom: 4px solid #007bff;
  }






  /* form */
  .ChangePasswordAdmin__password-container{
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    margin:0 200px 0px 150px;
    border-radius: 5px;
    padding: 50px 40px;
  }


  .ChangePasswordAdmin__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ChangePasswordAdmin__input-container{
    margin-bottom: 20px;
    position: relative;
    width: 58%;
  }




  /* password */
  .change-password-requirements{
    background-color: rgba(146, 146, 146,0.15);
    padding: 10px;
    border-radius: 5px;
    width: 55%;
    max-width: 700px;
    margin-top: 10px;
  
  }

  .change-password-requirements p{
    font-size: 11px;
    font-weight: bold;
    color: #565252;
    margin: 0;
  }

  .change-password-requirements ul{
    margin: 0;
    margin-bottom: 10px;
    padding:6px 0px;
    list-style: none;
  }

  .change-password-requirements li{
    font-size: 9px;
    font-weight: 500;
    color: #565252;
    margin: 0;
  }


  .ChangePasswordAdmin__pass-btn{
    background-color: #0174CF;
    color: white;
    width: 58%;
    max-width: 680px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-family: 'poppins';
    font-size: 15px;
    transition: background-color 1s;
  }

  .ChangePasswordAdmin__pass-btn:hover {
    background-color: #0056b3;
  }

  .ChangePasswordAdmin__pass-btn:active {
    opacity: 0.2;
  }


  .ChangePasswordAdmin__error {
    position: absolute;
    bottom: 37px; 
    right: 0; 
    color: red;
    font-size: 10px;
    font-weight: bold;
  }



  @media only screen and (max-width: 767px) {

      
    /* change password content */
    .AccountSettingsAdmin__profile-text-change{
      font-size: 11px;
      top: 60%;
      left:6%;
      padding-bottom: 10px;
      color: #626262;
    }


    .AccountSettingsAdmin__password-text-change{
      font-size: 11px;
      top: 60%;
      left:30%;
      padding-bottom: 10px;
      color: #007bff;
      border-bottom: 4px solid #007bff;
    }

    /* form */
    .ChangePasswordAdmin__password-container{
      margin:10px 0;
      padding: 30px 0;
    }

    .ChangePasswordAdmin__input-container{
      width: 78%;
    }

    

    /* password */
    .change-password-requirements{
      width: 73%;
    }


    .change-password-requirements p{
      font-size: 9px;
    }

    .change-password-requirements ul{
      margin-bottom: 0;
      padding:6px 0px;
    }

    .change-password-requirements li{
      font-size: 7px;
    }


    .ChangePasswordAdmin__pass-btn{
      width: 75%;
      max-width: 680px;
      margin-top: 25px;
      padding: 7px 20px;
      font-size: 12px;
    }

    
    .ChangePasswordAdmin__error {
      position: absolute; 
      bottom:-16px; 
      left: 0;
      right: 0; 
      margin: 0 auto;
      text-align: center; 
      color: red;
      font-size: 9px;
      font-weight: bold;
    }


    
  }