
/* concerns content */

.ConcernAdmin__header {
  background-color: #FFFFFF;
  margin-right: 40px;
  margin-left: 10px;
  height: 100px;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: #007bff;
  position: relative;
}

.ConcernAdmin__header-text{
  padding-left: 15px;
}




/* filter content */
.ConcernAdmin__filter-container{
  margin: 10px 0 10px 10px;
  padding: 5px ;
  color: #007bff;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* dropdown filter */
.ConcernAdmin__filter-icon{
  font-size: 22px;
  color: #8CB8FB;
}

/* clear */
.ConcernAdmin__clear-filters-button{
  cursor: pointer;
  font-family: "poppins";
  font-weight: 600;
  font-size: 14px;
  color: #395e96;
  background-color: #f1f1f1;
  border: 2px solid #5f7ead;
}



/* main content */
.ConcernAdmin__container{
  margin: 0 40px 0 10px;
  border-top: 6px solid #007bff;
}

/* each item */
.ConcernAdmin__item{
  background: #fff;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.ConcernAdmin__item:hover{
  border: 1px solid #3f99ff;
  box-shadow: 0px 0px 10px rgba(149, 162, 237, 0.15); 
}

.ConcernAdmin__item:active{
  opacity: 0.6;
}

.ConcernAdmin__item.ConcernAdmin__new-message{
  background: #E1EBFF;
}

/* concern name */
.ConcernAdmin__name{
  font-size: 13px;
  font-weight: 600;
  width: 14%;
}

/* concern message */
.ConcernAdmin__Message{
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 13px;
  gap: 5px;
  width: 70%;
  white-space: nowrap; 

}

.ConcernAdmin__Message img{
  width: 25px;
}

.ConcernAdmin__subject{
  font-weight: 600;
  margin-left: 10px;
  color: rgb(78, 78, 78);
}

.ConcernAdmin__message {
  color: #7e7e7e;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  flex-grow: 1; 
}



/* time */
.ConcernAdmin__time{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  font-size: 13px;
  font-weight: 500;
  flex: 1;
  padding-right: 20px;
}

.ConcernAdmin__resolved-text{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #007bff;
}

/* specific concern */
.ConcernAdmin__specific-container{
  margin: 20px 40px 0 10px;
}

.ConcernAdmin__specific-item{
  background: #fff;
  padding: 15px 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* head */
.ConcernAdmin__specific-header{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #007bff;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}


.ConcernAdmin__back-icon{
  font-size: 50px;
  color: #007bff;
  transition: transform 0.3s ease;
}

.ConcernAdmin__back-icon:hover{
  transform: scale(1.07); 
}

.ConcernAdmin__specific-header img{
  width: 30px;
  margin-left: 10px;
}


/* info */
.ConcernAdmin__specific-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px 0 40px;
  font-size: 13px;
  color: #7e7e7e;
}

.ConcernAdmin__customer-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ConcernAdmin__customer-info img{
  width: 45px;
  border-radius: 50%;
}

.ConcernAdmin__info{
  display: flex;
  flex-direction: column;
}


.ConcernAdmin__customer-name{
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.ConcernAdmin__email{
  margin-left: 10px;
  font-weight: 500;
  color: #7e7e7e;
}

.ConcernAdmin__to-admin{
  font-size: 12px;
  color: #7e7e7e;
}

/* content */
.ConcernAdmin__specific-content{
  background-color: #f7f7f7;
  margin-top: 30px;
  padding: 40px 30px;
  color: #565656;
  font-size: 14px;
  font-weight: 500;
}

/* image */
.ConcernAdmin__attachments{
  margin-top: 50px;
}

.ConcernAdmin__attachment-list{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  gap: 20px;
}

.ConcernAdmin__attachment-list img{
  width: 15%;
  border-radius: 15px;
}

.ConcernAdmin__see-image{
  height: 40em;
}

/* buttom icon */
.ConcernAdmin__reply-icon{
  font-size: 17px;
}

.ConcernAdmin__reply-container {
  display: flex;
  padding: 16px;
}

.ConcernAdmin__reply-button {
  background-color: #ffffff; 
  border: 1px solid #d3e0f0; 
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #007BFF; 
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.ConcernAdmin__reply-button:hover {
  background-color: #f8f8f8; 
}  

.ConcernAdmin__reply-button:active {
  opacity: 0.8;
}  



/* replying response */
.ConcernAdmin__reply-box{
  background-color: #fff;
  margin: 20px 40px 0 10px;
  padding: 30px 65px 30px;
  position: relative;
}

.ConcernAdmin__reply-back-btn{
  position: absolute;
  background-color:#3f9bfd ;
  top: 13%;
  left: 0;
  color: white;
  font-size: 25px;
  padding: 3px 12px;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  transition: background-color 1s;
}

.ConcernAdmin__reply-back-btn:hover{
  background-color:#2c84e1 ;
}

.ConcernAdmin__reply-back-btn:active{
  opacity: 0.8;
}


.ConcernAdmin__reply-info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.ConcernAdmin__reply-info-section{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ConcernAdmin__reply-info img{
  width: 43px;
  border-radius: 50%;
}


.ConcernAdmin__reply-info-section img{
  width: 43px;
  border-radius: 50%;
}

.ConcernAdmin__reply-name{
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.ConcernAdmin__reply-email{
  font-size: 10px;
  font-weight: 500;
  color: #7e7e7e;
}

/* Message textarea */
.ConcernAdmin__reply-textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #333;
  resize: none;
  margin-bottom: 10px;
}

.ConcernAdmin__reply-actions{
  display: flex;
  align-items: center;
  /* justify-content: end; */
  gap: 10px;
  margin-top: 20px;
}


/* Send button */
.ConcernAdmin__send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'poppins';
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ConcernAdmin__send-button:hover {
  background-color: #0056b3;
}


.ConcernAdmin__attachment-button{
  color: #565656;
  font-size: 18px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}


/* reveal the reply if submitted */
.ConcernAdmin__reply-admin{
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
  color: #bdbdbd;
}

.ConcernAdmin__reply-time{
  flex: 1;
  text-align: end;
  color: #7e7e7e;
  font-size: 12px;
}


.ConcernAdmin__reply-message{
  background-color: #f7f7f7;
  margin-top: 30px;
  padding: 40px 30px;
  color: #565656;
  font-size: 14px;
  font-weight: 500;
}




/* not found */
.ConcernAdmin__item-available{
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(67, 65, 65, 0.5);
}

.ConcernAdmin__item-not-found{
  background: #fff;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: rgba(67, 65, 65, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}