


.DeactivationRequestAdmin__customers-text{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    top: 64%;
    left:4%;
    padding-bottom: 13px;
    color: #626262;
}
    
    
.DeactivationRequestAdmin__deactivated-text{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    top: 64%;
    left:17%;
    padding-bottom: 13px;
    color: #626262;
}
    

.DeactivationRequestAdmin__account-deactivation-request-text{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 64%;
    right:4%;
    padding-bottom: 13px;
    border-bottom: 4px solid #007bff;
  }
  