
/* --Inventory content-- */

.InventoryAdmin__header{
  background-color: #FFFFFF;
  margin-right: 40px;
  margin-left: 10px;
  /* height: 260px; */
  padding: 5px 0px;
  font-size: 20px;
  border-radius: 5px;
  color: #007bff;
}

.InventoryAdmin__header-text{
  padding-left: 45px;
}




/* inventory table content */

.InventoryAdmin__table-container{
  background-color: #FFFFFF;
  margin: 20px 40px 0px 10px;

}

.InventoryAdmin__table{
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
}

.InventoryAdmin__table-header{
  background-color: #0174CF;
  color: white;
  font-size: 13px;
}

.InventoryAdmin__table th, .InventoryAdmin__table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.InventoryAdmin__table th:first-child,
.InventoryAdmin__table td:first-child {
  width: 18%; 
  text-align: left;
  padding-left: 20px;
  font-size: 13px;
}

.InventoryAdmin__table td {
  font-weight: 500;
  color: #434141;
}


/* action */
.InventoryAdmin__edit{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: #444444;
  /* border: 1.5px solid rgba(68, 68, 68, 0.5); */
  cursor: pointer;
  transition: background-color 1s;
}

.InventoryAdmin__edit:active{
  opacity: 0.8;
}

/*  */

.InventoryAdmin__summary{
  background-color: #FFFFFF;
  margin-right: 40px;
  margin-left: 10px;
  padding: 50px 20px 20px;
  font-size: 20px;

}

.InventoryAdmin__summary-item{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #626262;
  font-weight: 400;
}

.InventoryAdmin__summary-item img{
  width: 70px;
}

.InventoryAdmin__summary-item-text p{
  margin: 0;
  font-size: 15px;
}

.InventoryAdmin__summary-item-name{
  font-size: 15px;
  font-weight: 600;
  color: #007bff;
}  


/* value */
.InventoryAdmin__available{
  font-weight: 600;
  font-size: 17px;
  margin-left: 10px;
  color: #007bff;
}
