
 /*-- request task content --*/

 .RequestsAdmin__header {
  background-color: #FFFFFF;
  margin:0 40px 10px 10px;
  height: 130px;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: #007bff;
  position: relative;
}

.RequestsAdmin__header-text{
  padding-left: 15px;
}

.RequestsAdmin__link{
  color: inherit;
  text-decoration: none;
}

.RequestsAdmin__text{
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: 64%;
  left:4%;
  padding-bottom: 13px;
  border-bottom: 4px solid #007bff;
}

.RequestsAdmin__queue-text{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 64%;
  left:17%;
  padding-bottom: 13px;
  color: #626262;
}

.RequestsAdmin__complete-text{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 64%;
  left:27%;
  padding-bottom: 13px;
  color: #626262;
}

.RequestsAdmin__rejected-requests{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 64%;
  right: 3.5%;
  padding-bottom: 13px;
  color: #626262;
}





/* filter content */
.RequestsAdmin__filter-container{
  margin: 0 40px 10px 10px;
  padding: 5px ;
  color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

/* dropdown filter */
.RequestsAdmin__dropdown-icon,
.RequestsAdmin__filter-icon{
   font-size: 22px;
   color: #8CB8FB;
}

/* clear */
.RequestsAdmin__clear-filters-button{
  cursor: pointer;
  font-family: "poppins";
  font-weight: 600;
  font-size: 14px;
  color: #395e96;
  background-color: #f1f1f1;
  border: 2px solid #5f7ead;
}


/* main content */
.RequestsAdmin__container{
  margin: 0 40px 20px 10px;
}

.RequestsAdmin__section{
 color: #ADAFB0;
}

.RequestsAdmin__no-request{
  text-align: center;
}

/* not found */
.RequestsAdmin__not-found{
  background-color: #FFFFFF;
  padding: 5px 0px;
  margin-bottom: 4px;
  height: 55px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(67, 65, 65, 0.5);
}









/* QR Button */
.RequestsAdmin__scan-button{
  background-color: #0174CF;
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-family: 'poppins';
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  transition: background-color 1s;
}

.RequestsAdmin__scan-button:hover{
  background-color: #0068bd;
}

.RequestsAdmin__scan-button:active{
  opacity:0.8;
}

.RequestsAdmin__scan-icon{
  width: 20px;
  height: 20px;
}

/* WalkIn Button */
.RequestsAdmin__walkIn-button{
  background-color: #279eff;
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-family: 'poppins';
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  transition: background-color 1s;
}

.RequestsAdmin__walkIn-button:hover{
  background-color: #1b98ff;
}

.RequestsAdmin__walkIn-button:active{
  opacity:0.8;
}


/* QR Code */
.QRScannerModal__content {
  background: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  width: 600px;
  max-width: 90%;
  position: relative;
}

.QRScannerModal__close {
  position: absolute;
  top: 25px;
  right: 27px;
  background: none;
  border: none;
  font-size:28px;
  cursor: pointer;
}

.QRScannerModal__content h2 {
  text-align: center;
  margin: 0;
  color: #0174CF;
}

.QRScannerModal__scanner{
  margin-top: 20px;
}

.QRScannerModal__scanner video {
  transform: scaleX(-1);
}

.QRScannerModal__scanner-camera{
  width: 100%;
  border-radius: 20px;
  border: 5px solid #0174CF;
}

.QRScannerModal__error{
  text-align: center;
  font-weight: 600;
  color: #cf0101;
  margin: 10px 0 0;
}










/* SCANNED CONTENT --REGISTERED */
/* RequestScannerModal */
.RequestScannerModal__details{
  border: 1px solid #ADAFB0;
  border-radius: 10px;
  padding: 20px 50px 30px ;
  margin: 10px 0 20px;
}

.RequestScannerModal__requestType-info strong,
.RequestScannerModal__gallon-list strong,
.RequestScannerModal__user-info strong{
  color: #007bff;
}

.RequestScannerModal__user-info p{
  display: flex;
}

.RequestScannerModal__user-info strong{
  flex: 0.35;
}

.RequestScannerModal__user-info span{
  flex: 1;
  font-size: 15px;
  font-weight: 500;
}

/* Gallon type */
.RequestScannerModal__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10PX;
  border-radius: 7px;
  padding: 0 20px;
  background-color: rgba(233, 246, 250, 0.8);
}

.RequestScannerModal__item-info:last-child {
  margin-bottom: 0px;
}

.RequestScannerModal__requestType-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.RequestScannerModal__requestType-width{
  width: 60%;
}

.RequestScannerModal__item-image{
  width: 5em;
  margin-right: 12px;
}

.RequestScannerModal__item-name{
  display: flex;
  align-items: center;
  padding: 10px;
}

.RequestScannerModal__item-name h3{
  font-size: 13px;
  color: #626262;
  white-space: pre-line;
  margin: 8px 0px 0px;
}

.RequestScannerModal__item-name p{
  margin: 3px 0px 5px;
  font-size: 12px;
  color: #626262;
}

/* quantity */
.RequestScannerModal__item-quantity {
  margin: 10px 0px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.RequestScannerModal__item-limit{
  color: #c10808;
  font-size: 10px;
  font-weight: 500;
  margin: 0 0px 5px;
}

.quantity-btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 4px;
}

.quantity-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.quantity-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.RequestScannerModal__item-quantity span {
  font-size: 18px;
  font-weight: bold;
  width: 25px;
  margin: 0 10px;
  text-align: center;
}



/* total */

.RequestScannerModal__total-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin: 15px 15px 0;
  font-size: 15px; 
}

.RequestScannerModal__total-container p{
  margin: 0;
}

.RequestScannerModal__total{
  font-size: 17px;    
  font-weight: bold;
  color: #525252;
}


/* UNKNOWN REQUEST  */
/* REQUEST */
.RequestWalkInModal__content {
  background: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  width: 1000px;
  position: relative;
}

.RequestWalkInModal__content h2 {
  text-align: center;
  margin: 0;
  color: #0174CF;
}


.RequestWalkInModal__details{
  border: 1px solid #ADAFB0;
  border-radius: 10px;
  padding: 30px 35px;
  margin: 10px 0 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.RequestWalkInModal__details-1{
  width: 53%;
  position: relative;
}

.NewUserModal__contact-error {
  position: absolute;
  top: 74px; 
  right: 5px; 
  color: red;
  font-size: 10px;
  font-weight: bold;
}

.RequestWalkInModal__details-2{
  width: 47%;
}

.RequestWalkInModal__requestType{
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.RequestWalkInModal__requestType strong{
  color: #0174CF;
}

.RequestWalkInModal__gallonType{
  margin: 7px 0 10px;
}

/* request type icon*/
.RequestWalkInModal__gallonType-refill{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 2px 9px;
  border-radius: 3px;
  background-color: #DDEBF8;
  color: #007bff;
  border: 1px solid #0370e4;
}

.RequestWalkInModal__gallonType-refill img{
  width: 20px;
}

.RequestWalkInModal__gallonType-refill span{
  font-size: 15px;
  font-weight: 600;
}

.RequestWalkInModal__line{
  width: 0.1em;
  background-color: #D9D9D9;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 52.6%;
}