
.TransactionAdmin__header {
  background-color: #FFFFFF;
  margin-right: 40px;
  margin-left: 10px;
  height: 100px;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: #007bff;
  position: relative;
}

.TransactionAdmin__header-text{
  padding-left: 15px;
}




/* filter content */
.TransactionAdmin__filter-container{
  margin: 10px 0 10px 10px;
  padding: 5px ;
  color: #007bff;
  display: flex;
  align-items: center;
  gap: 15px;
}




/* table */
.TransactionAdmin__table-container{
  margin-right: 50px;
}

.TransactionAdmin__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.TransactionAdmin__table-header{
  background-color: #0174CF;
  color: white;
}

.TransactionAdmin__table th,
.TransactionAdmin__table td {
  padding: 13px 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}


.TransactionAdmin__table td:first-child{
  width: 22%;
  font-weight: 400;
}

.TransactionAdmin__table th:nth-child(2){
  width: 27%;
}

.TransactionAdmin__table th:nth-child(3){
  width: 17%;
}

.TransactionAdmin__table th:nth-child(4){
  width: 20%;
}

.TransactionAdmin__info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.TransactionAdmin__avatar{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.TransactionAdmin__date-time{
  display: flex;
  align-items: center;
}

.TransactionAdmin__time,
.TransactionAdmin__date{
  width: 43%;
  max-width: 90px;
}


/* not found */
.TransactionAdmin__not-found{
  font-weight: 600;
  color: rgba(67, 65, 65, 0.5);
}