
.TransactionAdmin__header {
  background-color: #FFFFFF;
  margin-right: 40px;
  margin-left: 10px;
  height: 100px;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: #007bff;
  position: relative;
}

.TransactionAdmin__header-text{
  padding-left: 15px;
}




/* filter content */
.TransactionAdmin__filter-container{
  margin: 10px 0 10px 10px;
  padding: 5px ;
  color: #007bff;
  display: flex;
  align-items: center;
  gap: 15px;
}

.TransactionAdmin__pdf-button{
  background: transparent;
  color: #0174CF;
  font-weight: 600;
  font-size: 14px;
  font-family: 'poppins';
  padding: 7px 15px;
  border-radius: 5px;
  border: 2px solid #0174CF;
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.TransactionAdmin__excel-button{
  background: transparent;
  color: #0da000;
  font-weight: 600;
  font-size: 14px;
  font-family: 'poppins';
  padding: 7px 15px;
  border-radius: 5px;
  border: 2px solid #0da000;
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.TransactionAdmin__pdf-button:active,
.TransactionAdmin__excel-button:active{
  opacity: 0.7;
}


/* table */
.TransactionAdmin__table-container{
  margin-right: 50px;
}

.TransactionAdmin__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.TransactionAdmin__table-header{
  background-color: #0174CF;
  color: white;
}

.TransactionAdmin__table th,
.TransactionAdmin__table td {
  padding: 13px 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}


.TransactionAdmin__table td:first-child{
  width: 20%;
  font-weight: 400;
}

.TransactionAdmin__table th:nth-child(2){
  width: 23%;
}

.TransactionAdmin__table th:nth-child(3){
  width: 15%;
}

.TransactionAdmin__table td:nth-child(3){
  padding-left: 30px;
}

.TransactionAdmin__table th:nth-child(4){
  width: 17%;
  padding-left: 20px;
}

.TransactionAdmin__info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.TransactionAdmin__avatar{
  width: 27px;
  height: 27px;
  object-fit: cover;
  border-radius: 50%;
}

.TransactionAdmin__date-time{
  display: flex;
  align-items: center;
}

.TransactionAdmin__time,
.TransactionAdmin__date{
  width: 43%;
  max-width: 90px;
}


/* not found */
.TransactionAdmin__not-found{
  font-weight: 600;
  color: rgba(67, 65, 65, 0.5);
}


/* Datepicker */
.date-filter-container{
  position: relative;
  background-color: #EEF7FF;
  border: 2px solid #8CB8FB;
  border-radius: 3px;
  color: #5489d8;
  padding: 4px 35px 4px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  font-family: "poppins";
}

.date-filter-section{
  position: absolute;
  top: 110%; 
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 5px;
}

.date-filter-section .react-datepicker__input-container input {
  background-color: #EEF7FF;
  border: 2px solid #8CB8FB; 
  border-radius: 5px; 
  padding: 8px 12px; 
  font-size: 14px;  
  font-family: "Poppins", sans-serif;  
}


.date-filter-section .react-datepicker__header {
  background-color: #94cdff; 
  border-bottom: 1px solid #8CB8FB; 
}

.date-filter-section .react-datepicker__day:hover {
  background-color: #8CB8FB; 
  color: white; 
}

.date-filter-section .react-datepicker__day--selected {
  background-color: #5489d8; 
  color: white; 
}


.SalesRecordAdmin__table-no-gallons{
  color: #cecece;
  margin-left: 30px;
  font-size: 16px;
}