
 /* users content */

 .UsersAdmin__header {
  background-color: #FFFFFF;
  margin:0 40px 10px 10px;
  height: 130px;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: #007bff;
  position: relative;
  
}

.UsersAdmin__header-text{
  padding-left: 15px;
}

.UsersAdmin__link{
  color: inherit;
  text-decoration: none;
}

.UsersAdmin__customers-text{
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: 64%;
  left:4%;
  padding-bottom: 13px;
  border-bottom: 4px solid #007bff;
}


.UsersAdmin__deactivated-text{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 64%;
  left:17%;
  padding-bottom: 13px;
  color: #626262;
}





/* filter container */
.UsersAdmin__controls{
  display: flex;
  align-items: center;
  margin: 0 30px 10px 10px;
  gap: 15px;
  padding: 5px ;
  color: #007bff;
}

.UsersAdmin__filter-icon{
  font-size: 22px;
  color: #8CB8FB;
}

/* new user button */
.UsersAdmin__new-user-button{
  background-color: #0174CF;
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-family: 'poppins';
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1s;
}

.UsersAdmin__new-user-button:hover{
  background-color: #0068bd;
}

.UsersAdmin__new-user-button:active{
  opacity:0.5;
}






/* table */
.UsersAdmin__table-container{
  margin-right: 50px;
}

.UsersAdmin__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.UsersAdmin__table-header{
  background-color: #0174CF;
  color: white;
}

.UsersAdmin__table th, .UsersAdmin__table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.UsersAdmin__table td {
  font-weight: 600;
  color: #434141;
}

.UsersAdmin__info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.UsersAdmin__avatar{
  width: 25px;
  height: 25px;
  border-radius: 50%;

}

.UserAdmin__address{
  margin: 0;
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 600;
  color: #434141;
}

.UserAdmin__address-icon{
  font-size: 20px;
}

.UserAdmin__phone{
  margin: 0;
  margin-left: 4px;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  color: #434141;
}

/* status */
.UsersAdmin__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block; 
  background-color: rgb(1, 204, 1); 
  position: relative; 
}

.UsersAdmin__active::after {
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  border-radius: 50%; 
  background-color: rgba(1, 204, 1, 0.5); 
  animation: echo-simple 1.5s infinite ease-out; 
}

@keyframes echo-simple {
  0% {
      transform: scale(1); 
      opacity: 1;
  }
  100% {
      transform: scale(2.3);
      opacity: 0; /* Fade out */
  }
}

.UsersAdmin__inactive {
  background-color: #e44343; 
}






/* action button */
.UserAdmin__actions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


.UserAdmin__edit{
  background-color: #d5cece;
  color: #444444;
  border: 1.5px solid rgba(68, 68, 68, 0.5);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1s;
}

.UserAdmin__view{
  background-color: #d0e8ff;
  color: #444444;
  border: 1.5px solid rgba(68, 68, 68, 0.5);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1s;
}

.UserAdmin__delete{
  background-color: rgb(239, 68, 68);
  color: #fff;
  border: 1.5px solid rgba(68, 68, 68, 0.5);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1s;
}


.UserAdmin__edit:active,
.UserAdmin__view:active,
.UserAdmin__delete:active{
  opacity: 0.8;
}

