
 /* users edit content */

.UserEditAdmin__profile-header {
  background-color: #FFFFFF;
  margin-right: 120px;
  margin-left: 60px;
  height: 130px;
  padding: 15px 0px;
  padding-left: 14em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #C4E5FF;
  color: #040404;
  position: relative;
  display: flex;
  align-items: center;
  
}

.UserEditAdmin__back-btn{
  position: absolute;
  width: 70px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.UserEditAdmin__back-btn:hover{
  transform: scale(1.07); 
}

.UserEditAdmin__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #9c9c9c;
}

.UserEditAdmin__details {
  display: flex;
  flex-direction: column;
}

.UserEditAdmin__name {
  margin: 0;
  font-size: 27px;
  font-weight: bold;
}

.UserEditAdmin__username {
  margin: 0;
  font-size: 18px;
  color: #888;
}



/* edit user  */
.UserEditAdmin__account-container{
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin-right: 120px;
  margin-left: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 60px;
}

/* password content */
.UserEditAdmin__password-container{
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  margin-top: 40px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: 2px solid rgba(160, 160, 160,0.3);
}

.UserEditAdmin__reset-button{
  position: absolute;
  top: -20px;
  left: 35px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Poppins";
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #A0A0A0;
  background-color: #D1D1D1;
  padding: 5px 20px;
  cursor: pointer;
  transition:transform 0.3s ease;
}

.UserEditAdmin__reset-icon{
  width: 25px;
  margin-right: 10px;
}

.UserEditAdmin__reset-password-btn:hover{
  transform: scale(1.02); 
}

.UserEditAdmin__reset-password-btn:active{
  opacity: 0.5;
}

.UserEditAdmin__password-form {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserEditAdmin__input-group{
  width: 50%;
  margin-bottom: 20px;
  position: relative;
}



/* requirements */
.UserEditAdmin__password-requirements{
  background-color: rgba(146, 146, 146,0.15);
  padding: 10px;
  margin-bottom: 30px;
  width: 47%;
  max-width: 700px;
  border-radius: 5px;
}

.UserEditAdmin__password-requirements p{
  font-size: 11px;
  font-weight: bold;
  color: #565252;
  margin: 0;
}

.UserEditAdmin__password-requirements ul{
  margin: 0;
  margin-bottom: 10px;
  padding:6px 0px;
  list-style: none;
}

.UserEditAdmin__password-requirements li{
  font-size: 9px;
  font-weight: 500;
  color: #565252;
  margin: 0;
}

.UserEditAdmin__error {
  position: absolute;
  top: 73px; 
  right: 5px; 
  color: red;
  font-size: 11px;
  font-weight: bold;
}