/* deactivate Modal */

.deactivation-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.deactivation-content{
  background: #fff;
  border: 4px solid #E11010;
  padding: 35px 15px;
  border-radius: 7px;
  width: 600px;
  max-width: 90%;
  position: relative;
}

/* 
.deactivation-close{
  position: absolute;
  top: 15px;
  right: 25px;
  background: none;
  border: none;
  font-size:26px;
  cursor: pointer;
} */

.deactivation-header{
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.deactivation-content p{
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.deactivation-modal-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  gap: 20px;
}

.deactivation-cancel-btn{
  width: 150px;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
  font-family: "poppins";
  border-radius: 5px;
  border:none;
  background-color: #D9D9D9;
  color: #626262;
  
}


.deactivation-confirm-btn{
  width: 150px;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
  font-family: "poppins";
  border-radius: 5px;
  border:none;
  background-color: #9E1616;
  color: #fff;
}